
choice 
	prompt "Type of binary to build"
	default NDS_DSGBA

config NDS_DSGBA
	bool ".ds.gba"
	help
	Build a .ds.gba file for use with a GBA flash card.

config NDS_NDS
	bool ".nds"
	help
	Build a .nds file for use with emulators or wifime and a modified 
	firmware.

endchoice
