glib_cv_stack_grows=no
ac_cv_func_posix_getpwuid_r=yes
gt_cv_c_wchar_t=no
ac_cv_path_GLIB_GENMARSHAL=${ac_cv_path_GLIB_GENMARSHAL=/nonexistent}
ac_cv_path_GMSGFMT=${ac_cv_path_GMSGFMT=/nonexistent}
ac_cv_path_MSGFMT=${ac_cv_path_MSGFMT=/nonexistent}
ac_cv_path_PKG_CONFIG=${ac_cv_path_PKG_CONFIG=/nonexistent}
ac_cv_path_XGETTEXT=${ac_cv_path_XGETTEXT=/nonexistent}
