/*  
Style Name: Nintendo DS linux mobile theme
Theme URI: http://dslinux.org/
Description: Theme for DS linux when hosted on a Nintendo DS (via DS linux)
Version: 1.0
Author: Simon "Scorpei" van de Berg
Author URI: http://scorpei.com/
Based on my theme made for my wordpress Nintendo DS plugin (http://wordpress.scorpei.com/),
which is based on the Wordpress Nintendo Wii edition Theme made by the winksite team; winksite.com - The winksite team
and on the theme currently in use by the DSlinux main page.
*/

body {
	color:			#000000;
	background-color:	#FFFFFF;
	padding:		0px;
	font:			10px tahoma, arial, helvetica, sans-serif;
	background-image:	url('background.png');
	background-repeat:	repeat;
	width:			265px;
	}
	
a {	
	color: 			#d40000;
	background: 		transparent;
	text-decoration: 	none;
	font-weight: 		bold;
	} 

a:hover {
	color: 			#d40000;
	background: 		transparent;
	text-decoration: 	underline;
	font-weight: 		bold;
	}

#container
	{
	width:			265px;
	margin			:0px auto;
	}

#header {
	margin-bottom:		5px;
	height:			17px;
	width:			155px;
	background: 		url(top_bar.png);
	background-repeat: 	repeat-x;
	}

#header_logo {
	background-image:	url('top_logo.png');
	background-repeat:	no-repeat;
	height:			17px;
	margin-left:		155px;
	width:			110px;
	}

.mi {
	width:			100%;
	}

.mi ul {
	list-style: 		none;
	height: 		10px;
	width:			35px;
	margin: 		0px auto; 
	border: 		1px dashed #999999;
	background: 		#D5DCDF;	
	padding-top: 		0px;
	padding-bottom: 	5px;  
	padding-left: 		5px;
	padding-right: 		0px;
	}

#menu { 
	height: 		15px;
	width: 			100%;
	margin-top:		0px;
	margin-bottom:		0px;
	font:			10px tahoma, arial, helvetica, sans-serif;
		}

#menu ul {
	clear: 			both;
	color: 			#323232; 
	float: 			left; 
	margin-bottom: 		0px;
	margin-left:		0px;
	margin-top:		0px;
	padding-left: 		5px;
	} 

#menu ul li {
	display: 		inline; 
	background: 		#D5DCDF;
	border: 		1px dashed #999999;
	font-align:		center;
	padding-left: 		5px;
	padding-right: 		5px;
	}

.content { 
	border: 		1px dashed #999999;
	width:			230px;
	margin:			0px auto;
	background-color:	#FFFFFFF;
	background-image:	url('background_content.png');
	background-repeat:	repeat;
	padding-top: 		7px;
	padding-bottom: 	7px;  
	padding-left: 		10px;
	padding-right: 		10px;
	}

#footer_bar {
	margin-top:		5px;
	margin-bottom:		5px;
	height:			17px;
	width:			100%;
	background: 		url(bottom_bar.png);
	background-repeat: 	repeat-x;
	z-index:		1000;
	}

.footer {
	font-size: 		6pt;
	}

.footer a {
	font-size: 		6pt;
	color: 			#d40000;
	text-decoration: 	none;
	}

.footer a:hover {
	font-size: 		6pt;
	color: 			#d40000;
	text-decoration: 	underline;
	}

