[DataBase]
Path=c:\pixil-dt\pixildt

[Search]
String=else

[ToDoList]
ShowCategory=Yes
ShowCompleted=Yes
ShowDueDate=Yes
ShowOnlyDue=No
ShowPriority=Yes
Sort=0

[Application]
ConfirmDelete=Yes
MainPage=3
SchedulerPage=0

[Scheduler]
DayBegins=8
WeekBegins=1

